<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

    <title>qdlink</title>
    <style>
        body {
            padding-top: 54px;
        }

        @media (min-width: 992px) {
            body {
                padding-top: 56px;
            }
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://www.protocle.com/mp/lib/xhr.js"></script>
    <script>
        'use strict';

        window.addEventListener('DOMContentLoaded', e => {
            var d = document;
            new Vue({
                el: 'main',
                data() {
                    return {
                        shorten: {
                            parameters: {
                                token: '',
                                url: '',
                                custom: '',
                            },
                        },
                        account: {
                            parameters: {
                                username: '',
                                password: ''
                            },
                            modes: [
                                {
                                    name: 'Log in',
                                    method: 'login',
                                },
                                {
                                    name: 'Sign up',
                                    method: 'register',
                                }
                            ],
                            mode: 0,
                        },
                        links: []
                    };
                },
                methods: {
                    getToken() {
                        var env = this.shorten.parameters,
                            vue = this;
                        XHR.json('http://dev.qdl.ink/token/', function (response) {
                            env.token = JSON.parse(response).token;
                            console.log(env.token);
                            vue.getLinks();
                        });
                    },
                    getLinks() {
                        var time = Date.now() / 1000,
                            vue = this;
                        XHR.json('http://dev.qdl.ink/account/links/', function (response) {
                            if (response) {
                                var hash_array = JSON.parse(response);
                                var numeric_array = [];
                                for (var item in hash_array) {
                                    numeric_array.push(hash_array[item]);
                                }
                                vue.links = numeric_array;
                                console.log(Date.now() / 1000 - time, response);
                            }
                        });
                    },
                    onlyChars(e) {
                        console.log(e);
                        this.custom = this.custom.toLowerCase().replace(/[^a-z]/g, '');
                    },
                    formtype() {
                        console.log(this);
                        /*
                        if (this.value) {
                            this.value = this.value.toLowerCase.replace(/[^a-z0-9_-]/, '');
                        }
                        */
                    },
                    defaultURL(event) {
                        if (!event.target.value) {
                            var element = event.target;
                            element.value = element.getAttribute('placeholder');
                            event = d.createEvent('Event');
                            event.initEvent('input', true, true);
                            element.dispatchEvent(event);
                        }
                    },
                    submit(method) {
                        console.log(method);

                        var vue = this,
                            form = this[method],
                            path = ['http://dev.qdl.ink', method],
                            request = {
                                account(response) {
                                    var status = JSON.parse(response).status;

                                    if (status == 'ERROR') {
                                        /* red alert */
                                    } else {
                                        jQuery('#modal').modal('hide');
                                        vue.getLinks();
                                    }

                                },
                                shorten(response) {
                                    vue.getToken();
                                }
                            };

                        if (form.modes) {
                            path.push(form.modes[form.mode].method);
                        }

                        console.log(form.parameters);

                        XHR.json(XHR.url(path.join('/') + '/', form.parameters), request[method]);
                    },
                },
                mounted() {
                    //this.getToken();
                    var account = d.querySelector('#inputUsername'),
                        shorten = d.querySelector('textarea');
                    this.getToken();
                    d.querySelector('textarea').focus();
                    jQuery('#modal').on('show.bs.modal', function (event) {
                        setTimeout(() => {
                            account.focus();
                        }, 500);
                    });
                    jQuery('#modal').on('hide.bs.modal', function (event) {
                        setTimeout(() => {
                            shorten.focus();
                        }, 500);
                    });
                },
            });
        });
    </script>
    <script>
        /*
        $(document).ready(function () {

            var maxlength = $('#username').attr('pattern').match('{(.*?)}')[1].split(',').pop();
            $('#username').attr('maxlength', maxlength);

            $('#username').on('input', function () {
                if ($(this).val()) {
                    $(this).val($(this).val().toLowerCase().replace(/[^a-z0-9_-]/, ''));
                }
            });

        });
        */
    </script>
</head>

<body>
    <main>
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#">qdl.ink</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="modal" data-target="#modal" href="#">Log in</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Page Content -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="mt-5">The Best URL Shortener</h1>
                    <p class="lead">Crazy performant and completely scalable!</p>
                    <form id="shorten" action="#" v-on:submit.prevent="submit('shorten')">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">URL to shorten</span>
                            </div>
                            <textarea class="form-control" placeholder="https://www.youtube.com/watch?v=dQw4w9WgXcQ" aria-label="URL to shorten" v-model="shorten.parameters.url"
                                v-on:blur="defaultURL" v-on:keydown.enter.prevent="submit('shorten')"></textarea>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon3">http://qdl.ink?</span>
                            </div>
                            <input type="text" class="form-control" placeholder="(Optional)" aria-describedby="basic-addon3" v-model="shorten.parameters.custom"
                                v-on:input="onlyChars">
                        </div>
                        <button type="submit" class="btn btn-secondary btn-lg btn-block">Go</button>
                    </form>
                </div>
            </div>
            <div class="row mt-5" v-if="links.length">
                <div class="col-lg-12">
                    <table class="table table-bordered">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Short URL</th>
                                <th scope="col">Long URL</th>
                                <th scope="col">Clicks</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(link, index) in links">
                                <th scope="row">{{ index + 1 }}</th>
                                <td>
                                    <a v-bind:href="link.shorturl" target="_blank">{{ link.shorturl }}</a>
                                </td>
                                <td>
                                    <a v-bind:href="link.longurl" target="_blank" style="word-break: break-all;">{{ link.longurl }}</a>
                                </td>
                                <td>{{ link.clicks }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLabel">{{ account.modes[account.mode].name }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="signin" action="#" v-on:submit.prevent="submit('account')">
                            <div class="form-group">
                                <label for="inputUsername">Username</label>
                                <input type="text" class="form-control" id="inputUsername" placeholder="Enter username" v-model="account.parameters.username">
                            </div>
                            <div class="form-group">
                                <label for="inputPassword">Password</label>
                                <input type="password" class="form-control" id="inputPassword" placeholder="Password" v-model="account.parameters.password">
                            </div>
                            <div class="form-check form-check-inline" v-for="(mode, index) in this.account.modes">
                                <input class="form-check-input" type="radio" name="accountAction" v-bind:id="'account' + mode.method" v-bind:value="index"
                                    v-model="account.mode">
                                <label class="form-check-label" v-bind:for="'account' + mode.method">{{ mode.name }}</label>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary" form="signin">Continue</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>